@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap');

html{
font-size:62.5%;
box-sizing: border-box;

}

body, #root {
  height:100vh;
  margin:0 ;
  font-family: 'Poppins',sans-serif;
}

body, input, select, textarea,button{
  font-size:1.6rem;
}

.grid-container {
  display:grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height:100%;
}

header{
  position: sticky;
  z-index: 10;
  position: -webkit-sticky;
  top: 0;

  grid-area: header;
  background:#974893;
  color: #fff;
  align-items:center;
}

a:hover{
  color: #ebd6ff;
}
.banner{
  height:1px;
}
header a{
  color: #fff;
  text-decoration: none;
  font-weight:600;
  font-size: 4rem;
  padding: .5rem ;
}
header img{
  color: #fff;
  
}

main{
  grid-area: main;
  
  
  
}

footer{
  grid-area: footer;
  background:#9c4aad;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  display:flex;
  flex-wrap: wrap;
}

.products{
  flex:3 60rem;
}
.sidebar{
  flex:1 20rem;
  margin-left: auto;
}

/*products / product List*/

.product-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /*horizontal*/
  align-items: center;    /*horizontal*/
  padding: 0;
  margin:0;
  list-style: none;
}

.product-list li{
  flex: 0 1 29rem;
  height:47rem;
  padding:1rem;
  
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product a{
  
 text-decoration: none;
 font-size: small;
 
}

.product img{
  max-width: 37rem;
  max-height: 37rem;
}

.product-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.product-price div,.product-price button{
  text-align: center;
  flex: 1;
}

.product-price button{
  font-size: 2rem;
  
}

.button{
  padding: 1rem;
  border: .1rem #c0c0c0;
  background: #f0f0f0;
  box-shadow: '0 3px 5px 2px rgba(255, 105, 135, .3)';
}

.button.primary{

  background: #974893;
  cursor: pointer;
}

.button:hover{
  background: #b150ac;
  border: .1rem rgb(22, 18, 18) solid;
}

/*filter*/

.filter{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 0.1rem black solid;
  margin: 1rem;
}

.filter div{
  flex:1;  /*equal width*/
  
}

.filter select{
  border-radius: 0.8rem;
  outline: 0;
  color: #5c2459;
}
.filter select:hover{
  cursor: pointer;
}

.filter {
  
  color: #571f54;
}

/*Cart Header*/

.cart-header{
  align-items: center;
  padding: 0;
  border-bottom: 0.1rem black solid;
  margin: 1rem;
  height: 2.36rem;
}

.cart{
  padding: 1rem;
  margin: 1rem;
  display: flex;
  
}
.delete-button{
  outline: 0;
  border:none;
  background:transparent;
  color:#571f54;
  
  
}

.delete-button:hover{
  cursor: pointer;
}
.delete-icon{
  size: 100%;
}

.cart-items{
  
  padding:0;
  width:100%;
  
}

.cart-items img{
   width: 5rem;
   margin-right: .6rem;

}
.cart ul{
  list-style: none;
}

.cart ul li{
  display: flex;
  padding:.5rem;
}
.cart-itmes li div{
  padding: .5rem;
}

.right{
   text-align: right;
}
.cart-total{
  margin-top: .5rem;
  display: flex;
  justify-content: space-between;
  width:100%;
}
.proceed{
  background: #974893;
  padding: 1rem;
  border: .1rem #c0c0c0;
  font-size: 1.8rem;
  box-shadow: '0 3px 5px 2px rgba(255, 105, 135, .3)';
  align-items: center;
  flex: .5;
}
.proceed:hover{
  cursor: pointer;
  background: #b150ac;
  border: .1rem rgb(22, 18, 18) solid;
}
.form-container{
  padding:0;
  width:100%;
}
.form-container li{
 display: flex;
 flex-direction: column;
 padding: 1rem;
 width:100%;
}
form{
  width:100%;
}
input{
  padding: 1rem;
  border: 1px solid #c0c0c0;
}

